/*  Global Colors */
:root,
.light {
  --bg-body: #fff;
  --text-body: #12262f;
  --bg-soft-body: #dddfe0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #12262f;
    --text-body: #fff;
    --bg-soft-body: #2a353b;
  }
}

.dark {
  --bg-body: #12262f;
  --text-body: #fff;
  --bg-soft-body: #2a353b;
}

body {
  background: var(--bg-body);
  color: var(--text-body);
  overflow-x: hidden;
  font-family: monospace;
  font-size: 1.25em;
  line-height: 1.5;
}

a {
  background: var(--bg-body);
  color: var(--text-body);

  &:focus,
  &:active,
  &:hover {
    background-color: var(--text-body);
    color: var(--bg-body);
  }
}

.header {
  position: sticky;
  z-index: 1; // Mandatory to avoid relative positionned blockd to scroll over stick header
  top: 0;
  background: var(--bg-body);
  border-bottom: 1px solid var(--text-body);
  padding: 1em;

  // animation magic
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
}

.header.shrink {
  background: var(--text-body);
  color: var(--bg-body);

  .site-baseline {
    display: none;
  }

  nav {
    display: none;
  }

  h1 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    background: var(--text-body);
    color: var(--bg-body);

    &:focus,
    &:active,
    &:hover {
      background-color: var(--bg-body);
      color: var(--text-body);
    }
  }
}

#page {
  display: grid;
  grid-template-columns: clamp(3em, 5%, 6em) min(65ch, calc(100% - 10em)) 1fr;
  grid-column-gap: 2em;

  & > * {
    grid-column: 2;
  }

  .full-bleed,
  .header,
  .footer {
    width: 100%;
    grid-column: 1 / -1;
  }
}


footer {
  padding: 1em;
  background: var(--bg-soft-body);
  color: var(--text-body);

  a {
    background: var(--bg-soft-body);
  }
}

img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 3px 1px var(--text-body);
  border-radius: 1em;

  &.post-icon {
    box-shadow: 0 0 1px 0 var(--text-body);
    border-radius: unset;
    float: left;
    margin-right: 1em;
  }
}

pre {
  white-space: pre-wrap;
}

// Full-width image
img.full-width {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  box-shadow: none;
  border: 1px solid var(--text-body);
}

/* Micro clearfix thx to Nicolas Gallagher, replaced by display: flow-root (see https://css-tricks.com/display-flow-root/) */
.clearfix {
  display: flow-root;
}

/* Prelude viewable only for screen reader */
#prelude {
  @include visually-hidden;
}

// Fun WIP

h2.post-title {
  background: var(--text-body);
  color: var(--bg-body);
  writing-mode: tb;
  padding-top: .5em;
  padding-bottom: .5em;
  float: left;
  margin-left: -2.5em;
  transform: rotate(180deg);
  position: sticky;
  top: 0;

  a {
    background: var(--text-body);
    color: var(--bg-body);
  }
}
