/*  Global Colors */
:root,
.light {
  --bg-body: #ffffff;
  --text-body: #12262f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: #12262f;
    --text-body: #ffffff;
  }
}

.dark {
  --bg-body: #12262f;
  --text-body: #ffffff;
}

body {
  background: var(--bg-body);
  color: var(--text-body);

  /* Temporary */
  max-width: 60em;
  margin: 1em;
  font-size: 1.25em;
  line-height: 1.5;
}

img {
  /* 2em is for body left + right margin */
  max-width: min(58em, calc(100vw - 2em));
  height: auto;
  box-shadow: 0 0 3px 1px var(--text-body);
  border-radius: 1em;

  &.post-icon {
    box-shadow: 0 0 1px 0 var(--text-body);
    border-radius: unset;
    float: left;
    margin-right: 1em;
  }
}

/* Micro clearfix thx to Nicolas Gallagher, replaced by display: flow-root (see https://css-tricks.com/display-flow-root/) */
.clearfix {
  display: flow-root;
}

/* Prelude viewable only for screen reader */
#prelude {
  @include visually-hidden;
}
